<center>
<div class="container">
    <div class="row row-centered">
        <div class="col-md-1 col-centered">
          <%= form_for(user) do |f| %>
            <% if user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

          <div class="field">
            <%= f.text_field :username, placeholder: 'username' %>
          </div>

          <div class="field">
            <%= f.text_field :email, placeholder: 'email' %>
          </div>

          <div class="field">
            <%= f.text_field :picture, placeholder: 'link to profile picture' %>
          </div>


          <div class="field">
            <%= f.password_field :password, placeholder: 'password' %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, placeholder: 'confirm password' %>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</center>
