<div class="row">
  <div class="col-sm-4">
    <img src="<%= @game.picture %>" class="img-rounded game-page" width="300">
  </div>
  <div class="col-sm-8">
    <h1><%= @game.name.upcase %></h1><br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="text-primary">
          Mechanics
        </p>
        <% @game.mechanics.each do |m|%>
          <span class="label label-info"><%= m.name%></span>
        <%end%>
      </div>
        <div class="panel-body">
            <p class="text-primary">
              Description
            </p>
            <p class="text-muted">
              <%= @game.description %>
            </p>
            <p>
            </p>
        </div>
        </div>
        <div class="panel-footer" align="center">
          <a href="#">
            <span class="glyphicon glyphicon-arrow-up"></span>
          </a>
          <a href="#">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </a>
          <a href="#">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
          <% if logged_in? %>
            <% if @game.creator == current_user %>
              <a href="/games/<%=@game.id%>/edit">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <% end %>
            <% end %>
          <a href="#">
            <span class="glyphicon glyphicon-check"></span>
          </a>
        </div>
      </div>
  </div>
  </div>
</div>

<h4>Comments <span class="badge"><%= @comments.count %></span></h4>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 35%"></div>
  <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
  <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
</div>
  <% if logged_in? %>
  <a href="#" class="btn btn-success" id="add-comment">Add Comment</a>
  <div class="comments-partial">
    <%= render partial: 'comments/form', locals: { game: @game, comment: @comment } %>
  </div>
  <% end %>
  <% @comments.each do |comment| %>
  <p class="text-primary">
    <%= comment.title %> | <%= link_to comment.user.username, user_path(comment.user) %>
  </p>
  <p class="text-muted">
    <%= comment.body %>
  </p>
  <% end %>
